<div class="container">
    <form id="jobform">
        <div class="d-none form-group row">
            <label for="text" class="col-4 col-form-label">Job id</label>
            <div class="col-8">
                <input id="idjobid" name="idjobid" placeholder="Enter job id" type="text" value="<% if(job != null) {%><%= job.jobid %><% } %>"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">Position</label>
            <div class="col-8">
                <input id="idposition" name="idposition" placeholder="Enter position" type="text" maxlength="255"
                    value="<% if(job != null) {%><%= job.position %><% } %>" class="form-control" required>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="select" class="col-4 col-form-label">Type</label>
            <div class="col-8">
                <select required id="idtype" name="select" class="custom-select">
                    <option value="Co-op">Co-op</option>
                    <option value="Internship">Internship</option>
                    <option value="Full Time / Part Time">Full Time / Part Time</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="textarea" class="col-4 col-form-label">Description</label>
            <div class="col-8">
                <textarea required id="iddescription" name="textarea" cols="40" rows="5" class="form-control" maxlength="255"
                 aria-describedby="textareaHelpBlock"><% if(job != null) {%><%= job.description %><% } %></textarea>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="text2" class="col-4 col-form-label">Vacancy count</label>
            <div class="col-8">
                <input required id="idvacancycount" name="text2" placeholder="Enter vacancy count" type="text"
                    value="<% if(job != null) {%><%= job.vacancycount %><% } %>" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="select1" class="col-4 col-form-label">State</label>
            <div class="col-8">
                <select required id="idstate" name="select1" class="custom-select">
                    <option value="FL">Florida</option>
                    <option value="MA">Massachusetts</option>
                    <option value="ME">Maine</option>
                    <option value="NC">North Carolina</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NY">New York</option>
                    <option value="RI">Rhode Island</option>
                    <option value="WA">Washington</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="select2" class="col-4 col-form-label">City</label>
            <div class="col-8">
                <select required id="idcity" name="select2" class="custom-select">
                    <option value="Sydney">Sydney</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="select2" class="col-4 col-form-label">Organization</label>
            <div class="col-8">
        <select required id='orgid' name = 'orgid' class="custom-select" >
            <option value="2">KForce Recruitment</option>
            <option value="3">KevaHealth Inc</option>
            <option value="4">Activ Surgical</option>
            <option value="5">Brigham and Women's Hospital</option>
            <option value="6">Cambridge Health Alliance</option>
            <option value="7">Power of Patients</option>
            <option value="8">Arbour HRI Hospital</option>
            <option value="9">Lighthouse Lab Services</option>
            <option value="10">The Massachusetts Eye and Ear Infirmary</option>
            <option value="11">Beth Israel Deaconess Healthcare</option>
            <option value="12">Johnson & Johnson</option>
            <option value="13">South End Community Health Center</option>
            <option value="14">Massachusetts General Hospital</option>
            <option value="15">Boston Children's Hospital</option>
            <option value="16">Internships Down Under</option>
            <option value="17">Meaden & Moore</option>
            <option value="18">E.J. Callahan & Associates</option>
            <option value="19">Grassi & Co.</option>
            <option value="20">Monotype</option>
            <option value="21">Apple</option>
            <option value="22">Hasbro</option>
            <option value="23">IFactory Inc.</option>
            <option value="24">Adapt Agency</option>
            <option value="25">Greene Naftali</option>
            <option value="26">Playa Society</option>
            <option value="27">Interiology Design Co.</option>
            <option value="28">Earnix</option>
            <option value="29">QSimulate</option>
            <option value="30">Powerhouse Dynamics (PhD)</option>
            <option value="31">Zilla Security</option>
            <option value="32">Zeta Surgical</option>
            <option value="33">Funnel.io</option>
          </select>
        </div>
          </div>
        <div class="form-group row">
            <label for="idcategory" class="col-4 col-form-label">Category</label>
            <div class="col-8">
                <input required id="idcategory" name="idcategory" placeholder="Enter Industry" type="text" value="<% if(job != null) {%><%= job.category %><% } %>"  class="custom-select">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-2">
                <button id="submit" name="submit" type="submit" class="btn btn-primary">Publish</button>
            </div>
            <div class="col-2">
                <button id="save" name="save" type="submit" class="btn btn-primary">Save Draft</button>
            </div>
            <% if(job != null && job.jobid != null) {%>
                <div class="col-2">
                    <button id="delete" name="delete" type="submit" class="btn btn-danger">Delete</button>
                </div>
            <% } %>
        </div>
    </form>
</div>