<div class="container">
    <% if (jobs != null && jobs.length != 0) { %>
    <ul class="list-group">
        
      <% jobs.forEach(function(job){ %>
          <li class="list-group-item">
              <div class="card">
                  <div class="card-header">
                      <%= job.position %>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title"><%= job.name %></h5>
                      <a class="badge bg-primary text-decoration-none link-light" href="#!">Vacancy: <%=
                        job.vacancycount %></a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Location: <%=
                        job.location %></a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%= job.type %></a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Category: <%=
                            job.category %></a>
                <div class="text-muted fst-italic mb-2"><% if(job.publishdate != null) {%>Published on <%= new Date(job.publishdate).toLocaleString("en-US") %> <% } %></div>
                      <p class="card-text"><%- job.description %></p>
                      <a href="/job/<%= job.jobid %>" class="btn btn-primary">Apply</a>
                  </div>
              </div>
          </li>
      <% }); %>
  </ul>
  <% } else { %>
    <h4>No Jobs Yet</h4>
    <% } %>
</div>